/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  /* Buttons */
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .button-1 {
    background-image: url('../images/buttons/button1.png');
    background-size: cover;
  }
  
  .button-2 {
    background-image: url('../images/buttons/button1.png');
    background-size: cover;
  }
  
  .button-3 {
    background-image: url('../images/buttons/button1.png');
    background-size: cover;
  }
  
  .button-4 {
    background-image: url('../images/buttons/button1.png');
    background-size: cover;
  }
  
  .button-5 {
    background-image: url(src/images/buttons/button5);
    background-size: cover;
  }
  
  /* Primary and Secondary Images */
  
  .primary-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .secondary-image {
    width: 50%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  /* Carousel Styles (for Nutrients) */
  
  .carousel-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
  
  .carousel-item {
    display: none;
  }
  
  .carousel-item.active {
    display: block;
  }
  
  .carousel-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* Responsive Design */
  
  @media only screen and (max-width: 768px) {
    .primary-image, .secondary-image {
      width: 100%;
      height: auto;
    }
  
    .button-container {
      flex-direction: column;
    }
  
    .button {
      margin-bottom: 10px;
    }
  }